* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
    background-color: black;
    scroll-behavior: smooth;
    color: white;
    overflow-x: hidden;
}




.navbar {
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid grey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
}

.name {
    display: flex;
}

.colour {
    display: inline;
    color: #9929EA;
    margin-left: 8px;
}

section{
    scroll-margin-top: 130px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin-right: 20px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

img {
    border-radius: 50%;
    margin-right: 30px;
}

#aboutme {
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 30px;

}

p {
    line-height: 2.0;
    margin-top: 20px;
}

#aboutme h1,
h2 {
    color: #CC66DA;
    padding-right: 10px;
    margin-right: 10px;
}

#aboutme h2 {
    border-right: 5px solid purple;
    max-width: 350px;
    padding-right: 10px;
}

#skills {
    color: white;
    margin-left: 20px;
    margin-top: 40px;

}

#skills h1 {
    color: purple;
}

#skills h2 {
    color: white;
    margin-top: 20px;
}

.group {
    color:purple;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

i {
    color: white;
    display: inline;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 40px;
}



.skillsknown {
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#projects {
    color: white;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    /* KEY PROPERTY */
    gap: 20px;
    margin-left: 50px;
}

#certificates h1{
    color: purple;
    margin-top: 30px;
    margin-left: 20px;
}

.dummy{
    color: purple;
    margin-top: 30px;
    margin-left: 20px;
}

#projects .box {
    box-shadow: white 0px 3px 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 20%;
    /* KEY PROPERTY */
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
}

#projects h2:hover {
    text-decoration: underline;
}

.list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.list:hover {
    text-decoration: underline;
}

#contact {
    background-color: purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}


#contact i {
    font-size: 20px;
    margin-left: 20px;
}

#certificates a{
    font-size: 20px;
}

@media screen and (max-width : 500px) {
    li{
        display: none;
    }
    
}


@media screen and (max-width: 500px) {
    tr {
        display: flex;
        flex-direction: column;
    }

    td {
        width: 70%;
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #aboutme h2{
        padding-right: 1px;
    }

    #skills,#certificates,#project{
        max-width: 100%;

    }

    #projects{
        flex-basis: 60%;
    }
    #projects .box{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .box{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    #contact {
        padding: 15px;
    }
}